<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LocationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C9EB7B41D49B103008B3A43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C9EB7CD1D49B104008B3A43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C9EB7D81D49B105008B3A43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
